/* Theme */

main {
	background: #FFEFCB;
	color: #414243;
}

main ::selection {
	background: #414243;
	color: #FAFAFA;
}

.icons-social a {
	color: #414243;
}

.icons-social a svg path{
	fill: #414243;
}