img {
    width: 350px;
    border-radius: .5rem;
    transition: all .2s;
}

@media screen and (max-width: 760px) {
    img {
        width: auto;
    }
}

img:hover {
    transform: scale(1.03);
}

.vocs_HomePage_title {
    font-weight: bold !important;
    line-height: 1.25em;
    background-image: -webkit-linear-gradient(-60deg, #ebff32, #1CECED 85%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}